html {
    background: #e6e9e9;
    background-image: linear-gradient(270deg, rgb(230, 233, 233) 0%, rgb(216, 221, 221) 100%);
    -webkit-font-smoothing: antialiased;
    height: 100%;
}

body {
    background: #EFE2BA;
    color: #545454;
    font-family: Cardo, Helvetica, Arial, sans-serif;
    font-size: 16px;
    margin: 0px auto;
    height: 100%;
}

h1, h2, h3, h4, h5, h6 {
    color: #222;
    font-weight: 600;                                         
    font-family: Poppins
}

span.h1 {
    color: #222;
    font-weight: 600;                                         
    font-family: Poppins;
    font-size: 3em;
    line-height: 1.0;
}

span.h4 {
    color: #222;
    font-weight: 200;                                         
    font-family: Poppins;
    font-size: 1.5em;
    line-height: 1.0; 
    color: 
}

a {
    color: #0083e8;
}

b, strong {
    font-weight: 600;
}

samp {
    display: none;
}

img {
    animation: colorize 2s cubic-bezier(0, 0, .78, .36) 1;
    background: transparent;
    border: 10px solid rgba(0, 0, 0, 0.12);
    border-radius: 4px;
    display: block;
    margin: 1.3em auto;
    max-width: 95%;
}

font-family: 'Cardo', serif;
font-family: 'Poppins', sans-serif;

ul {
  list-style-type: circle;
  margin: 0;
  padding: 0;
}

div.me {
    margin: 0 auto;
    min-height: 100%;
    display:flex; flex-direction:column; justify-content:center;
}

div.experience {
    margin: 0 auto;
    min-height: 100%;
}

div {
    padding: 1em;
}

div.projects {
    margin: 0 auto;
    min-height: 100%;
}

li {
  display: inline;
    margin-right: 3em;
}

a {
    text-decoration: none;
    color: #000000;
    font-weight: 300;                                         
    font-family: Poppins;
}

@keyframes colorize {
    0% {
        -webkit-filter: grayscale(100%);
        filter: grayscale(100%);
    }
    100% {
        -webkit-filter: grayscale(0%);
        filter: grayscale(0%);
    }
}